light-house-3d/code/TheCodeSoFar.txt
Code
7
light-house-3d/code/TheCodeSoFarII.txt
Code
9
light-house-3d/code/TheCodeSoFarIII.txt
Code
13
light-house-3d/code/TheCodeSoFarIV.txt
Code
14
light-house-3d/code/TheCodeSoFarVII.txt
Code
20
light-house-3d/code/TheCodeSoFarV.txt
Code
22
fog-tut/code/code.txt
Code
23
blending-tut/code/code.txt
Code
24
light-tut/code/code.txt
Code
25
learnOpenGL-tut/code/Hello Window.txt
Code
29
learnOpenGL-tut/code/Hello Triangle.txt
Code
30
learnOpenGL-tut/code/Shaders.txt
Code
31
learnOpenGL-tut/code/includes/Shader Class.txt
Shader Class
31
learnOpenGL-tut/code/shaders/3.3.shader.vs.txt
3.3.shader.vs
31
learnOpenGL-tut/code/shaders/3.3.shader.fs.txt
3.3.shader.fs
31
learnOpenGL-tut/code/Textures.txt
Code
32
learnOpenGL-tut/code/shaders/4.1.texture.vs.txt
4.1.texture.vs
32
learnOpenGL-tut/code/shaders/4.1.texture.fs.txt
4.1.texture.fs
32
learnOpenGL-tut/code/Transformations.txt
Code
33
learnOpenGL-tut/code/shaders/5.1.transform.vs.txt
5.1.transform.vs
33
learnOpenGL-tut/code/shaders/5.1.transform.fs.txt
5.1.transform.fs
33
learnOpenGL-tut/code/Coordinate Systems.txt
Code
34
learnOpenGL-tut/code/shaders/6.3.coordinate_systems.vs.txt
6.1.coordinate_systems.vs
34
learnOpenGL-tut/code/shaders/6.3.coordinate_systems.fs.txt
6.1.coordinate_systems.fs
34
learnOpenGL-tut/code/Camera.txt
Code
35
learnOpenGL-tut/code/includes/Camera Class.txt
Camera Class
35
learnOpenGL-tut/code/shaders/7.3.camera.vs.txt
7.3.camera.vs
35
learnOpenGL-tut/code/shaders/7.3.camera.fs.txt
7.3.camera.fs
35
learnOpenGL-tut/code/Colors.txt
Code
37
learnOpenGL-tut/code/shaders/1.colors.vs.txt
1.colors.vs
37
learnOpenGL-tut/code/shaders/1.colors.fs.txt
1.colors.fs
37
learnOpenGL-tut/code/shaders/1.lamp.vs.txt
1.lamp.vs
37
learnOpenGL-tut/code/shaders/1.lamp.fs.txt
1.lamp.fs
37
learnOpenGL-tut/code/Basic Lighting.txt
Code
38
learnOpenGL-tut/code/shaders/2.2.basic_lighting.vs.txt
2.2.basic_lighting.vs
38
learnOpenGL-tut/code/shaders/2.2.basic_lighting.fs.txt
2.2.basic_lighting.fs
38
learnOpenGL-tut/code/shaders/2.2.lamp.vs.txt
2.2.lamp.vs
38
learnOpenGL-tut/code/shaders/2.2.lamp.fs.txt
2.2.lamp.fs
38
learnOpenGL-tut/code/Materials.txt
Code
39
learnOpenGL-tut/code/shaders/3.1.materials.vs.txt
3.1.materials.vs
39
learnOpenGL-tut/code/shaders/3.1.materials.fs.txt
3.1.materials.fs
39
learnOpenGL-tut/code/shaders/3.1.lamp.vs.txt
3.1.lamp.vs
39
learnOpenGL-tut/code/shaders/3.1.lamp.fs.txt
3.1.lamp.fs
39
learnOpenGL-tut/code/Lighting maps.txt
Code
40
learnOpenGL-tut/code/shaders/4.2.lighting_maps.vs.txt
4.2.lighting_maps.vs
40
learnOpenGL-tut/code/shaders/4.2.lighting_maps.fs.txt
4.2.lighting_maps.fs
40
learnOpenGL-tut/code/shaders/4.2.lamp.vs.txt
4.2.lamp.vs
40
learnOpenGL-tut/code/shaders/4.2.lamp.fs.txt
4.2.lamp.fs
40
learnOpenGL-tut/code/Light casters.txt
Code
41
learnOpenGL-tut/code/shaders/5.1.light_casters.vs.txt
5.1.light_casters.vs
41
learnOpenGL-tut/code/shaders/5.1.light_casters.fs.txt
5.1.light_casters.fs
41
learnOpenGL-tut/code/shaders/5.2.light_casters.vs.txt
5.2.light_casters.vs
41
learnOpenGL-tut/code/shaders/5.2.light_casters.fs.txt
5.2.light_casters.fs
41
learnOpenGL-tut/code/shaders/5.3.light_casters.vs.txt
5.3.light_casters.vs
41
learnOpenGL-tut/code/shaders/5.3.light_casters.fs.txt
5.3.light_casters.fs
41
learnOpenGL-tut/code/shaders/5.1.lamp.vs.txt
lamp.vs
41
learnOpenGL-tut/code/shaders/5.1.lamp.fs.txt
lamp.fs
41
learnOpenGL-tut/code/Multiple lights.txt
Code
42
learnOpenGL-tut/code/shaders/6.multiple_lights.vs.txt
6.multiple_lights.vs
42
learnOpenGL-tut/code/shaders/6.multiple_lights.fs.txt
6.multiple_lights.fs
42
learnOpenGL-tut/code/shaders/5.1.lamp.vs.txt
6.lamp.vs
42
learnOpenGL-tut/code/shaders/5.1.lamp.fs.txt
6.lamp.fs
42
learnOpenGL-tut/code/Mesh.txt
Mesh Class
45
learnOpenGL-tut/code/Model.txt
Code
46
learnOpenGL-tut/code/includes/Model Class.txt
Model Class
46
learnOpenGL-tut/code/shaders/1.model_loading.vs.txt
1.model_loading.vs
46
learnOpenGL-tut/code/shaders/1.model_loading.fs.txt
1.model_loading.fs
46
learnOpenGL-tut/code/Depth testing.txt
Code
47
learnOpenGL-tut/code/shaders/1.1.depth_testing.vs.txt
1.1.depth_testing.vs
47
learnOpenGL-tut/code/shaders/1.1.depth_testing.fs.txt
1.1.depth_testing.fs
47
learnOpenGL-tut/code/Stencil testing.txt
Code
48
learnOpenGL-tut/code/shaders/2.stencil_testing.vs.txt
2.stencil_testing.vs
48
learnOpenGL-tut/code/shaders/2.stencil_testing.fs.txt
2.stencil_testing.fs
48
learnOpenGL-tut/code/shaders/2.stencil_single_color.fs.txt
2.stencil_single_color.fs
48
learnOpenGL-tut/code/Blending.txt
Code
49
learnOpenGL-tut/code/shaders/3.1.blending.vs.txt
3.1.blending.vs
49
learnOpenGL-tut/code/shaders/3.1.blending.fs.txt
3.1.blending.fs
49
learnOpenGL-tut/code/shaders/3.2.blending.vs.txt
3.2.blending.vs
49
learnOpenGL-tut/code/shaders/3.2.blending.fs.txt
3.2.blending.fs
49
learnOpenGL-tut/code/Face culling.txt
Code
50
learnOpenGL-tut/code/shaders/face_culling.vs.txt
face_culling.vs
50
learnOpenGL-tut/code/shaders/face_culling.fs.txt
face_culling.fs
50
learnOpenGL-tut/code/Framebuffers.txt
Code
51
learnOpenGL-tut/code/shaders/5.1.framebuffers.vs.txt
5.1.framebuffers.vs
51
learnOpenGL-tut/code/shaders/5.1.framebuffers.fs.txt
5.1.framebuffers.fs
51
learnOpenGL-tut/code/shaders/5.1.framebuffers_screen.vs.txt
5.1.framebuffers_screen.vs
51
learnOpenGL-tut/code/shaders/5.1.framebuffers_screen.fs.txt
5.1.framebuffers_screen.fs
51
learnOpenGL-tut/code/Cubemaps.txt
Code
52
learnOpenGL-tut/code/shaders/6.1.cubemaps.vs.txt
6.1.cubemaps.vs
52
learnOpenGL-tut/code/shaders/6.1.cubemaps.fs.txt
6.1.cubemaps.fs
52
learnOpenGL-tut/code/shaders/6.1.skybox.vs.txt
6.1.skybox.vs
52
learnOpenGL-tut/code/shaders/6.1.skybox.fs.txt
6.1.skybox.fs
52
learnOpenGL-tut/code/shaders/6.2.cubemaps.vs.txt
6.2.cubemaps.vs
52
learnOpenGL-tut/code/shaders/6.2.cubemaps.fs.txt
6.2.cubemaps.fs
52
learnOpenGL-tut/code/shaders/6.2.skybox.vs.txt
6.2.skybox.vs
52
learnOpenGL-tut/code/shaders/6.2.skybox.fs.txt
6.2.skybox.fs
52
learnOpenGL-tut/code/Advanced GLSL.txt
Code
54
learnOpenGL-tut/code/shaders/8.advanced_glsl.vs.txt
8.advanced_glsl.vs
54
learnOpenGL-tut/code/shaders/8.blue.fs.txt
8.blue.fs
54
learnOpenGL-tut/code/shaders/8.green.fs.txt
8.green.fs
54
learnOpenGL-tut/code/shaders/8.red.fs.txt
8.red.fs
54
learnOpenGL-tut/code/shaders/8.yellow.fs.txt
8.yellow.fs
54
learnOpenGL-tut/code/Geometry Shader.txt
Code
55
learnOpenGL-tut/code/shaders/9.1.geometry_shader.vs.txt
9.1.geometry_shader.vs
55
learnOpenGL-tut/code/shaders/9.1.geometry_shader.fs.txt
9.1.geometry_shader.fs
55
learnOpenGL-tut/code/shaders/9.1.geometry_shader.gs.txt
9.1.geometry_shader.gs
55
learnOpenGL-tut/code/shaders/9.2.geometry_shader.vs.txt
9.2.geometry_shader.vs
55
learnOpenGL-tut/code/shaders/9.2.geometry_shader.fs.txt
9.2.geometry_shader.fs
55
learnOpenGL-tut/code/shaders/9.2.geometry_shader.gs.txt
9.2.geometry_shader.gs
55
learnOpenGL-tut/code/shaders/9.3.default.vs.txt
9.3.default.vs
55
learnOpenGL-tut/code/shaders/9.3.default.fs.txt
9.3.default.fs
55
learnOpenGL-tut/code/shaders/9.3.normal_visualization.vs.txt
9.3.normal_visualization.vs
55
learnOpenGL-tut/code/shaders/9.3.normal_visualization.fs.txt
9.3.normal_visualization.fs
55
learnOpenGL-tut/code/shaders/9.3.normal_visualization.gs.txt
9.3.normal_visualization.gs
55
learnOpenGL-tut/code/Instancing.txt
Code
56
learnOpenGL-tut/code/shaders/10.1.instancing.vs.txt
10.1.instancing.vs
56
learnOpenGL-tut/code/shaders/10.1.instancing.fs.txt
10.1.instancing.fs
56
learnOpenGL-tut/code/shaders/10.2.instancing.vs.txt
10.2.instancing.vs
56
learnOpenGL-tut/code/shaders/10.2.instancing.fs.txt
10.2.instancing.fs
56
learnOpenGL-tut/code/shaders/10.3.asteroids.vs.txt
10.3.asteroids.vs
56
learnOpenGL-tut/code/shaders/10.3.asteroids.fs.txt
10.3.asteroids.fs
56
learnOpenGL-tut/code/shaders/10.3.planet.vs.txt
10.3.planet.vs
56
learnOpenGL-tut/code/shaders/10.3.planet.fs.txt
10.3.planet.fs
56
learnOpenGL-tut/code/Anti Aliasing.txt
Code
57
learnOpenGL-tut/code/shaders/11.anti_aliasing.vs.txt
11.anti_aliasing.vs
57
learnOpenGL-tut/code/shaders/11.anti_aliasing.fs.txt
11.anti_aliasing.fs
57
learnOpenGL-tut/code/shaders/11.aa_post.vs.txt
11.aa_post.vs
57
learnOpenGL-tut/code/shaders/11.aa_post.fs.txt
11.aa_post.fs
57
learnOpenGL-tut/code/Advanced Lighting.txt
Code
58
learnOpenGL-tut/code/shaders/1.advanced_lighting.vs.txt
1.advanced_lighting.vs
58
learnOpenGL-tut/code/shaders/1.advanced_lighting.fs.txt
1.advanced_lighting.fs
58
learnOpenGL-tut/code/Gamma Correction.txt
Code
59
learnOpenGL-tut/code/shaders/2.gamma_correction.vs.txt
2.gamma_correction.vs
59
learnOpenGL-tut/code/shaders/2.gamma_correction.fs.txt
2.gamma_correction.fs
59
learnOpenGL-tut/code/Shadow Mapping.txt
Code
60
learnOpenGL-tut/code/shaders/3.1.3.debug_quad.vs.txt
3.1.3.debug_quad.vs
60
learnOpenGL-tut/code/shaders/3.1.3.debug_quad_depth.fs.txt
3.1.3.debug_quad_depth.fs
60
learnOpenGL-tut/code/shaders/3.1.3.shadow_mapping.fs.txt
3.1.3.shadow_mapping.fs
60
learnOpenGL-tut/code/shaders/3.1.3.shadow_mapping.vs.txt
3.1.3.shadow_mapping.vs
60
learnOpenGL-tut/code/shaders/3.1.3.shadow_mapping_depth.fs.txt
3.1.3.shadow_mapping_depth.fs
60
learnOpenGL-tut/code/shaders/3.1.3.shadow_mapping_depth.vs.txt
3.1.3.shadow_mapping_depth.vs
60
learnOpenGL-tut/code/Point Shadows.txt
Code
61
learnOpenGL-tut/code/shaders/3.2.2.point_shadows.fs.txt
3.2.2.point_shadows.fs
61
learnOpenGL-tut/code/shaders/3.2.2.point_shadows.vs.txt
3.2.2.point_shadows.vs
61
learnOpenGL-tut/code/shaders/3.2.2.point_shadows_depth.vs.txt
3.2.2.point_shadows_depth.vs
61
learnOpenGL-tut/code/shaders/3.2.2.point_shadows_depth.fs.txt
3.2.2.point_shadows_depth.fs
61
learnOpenGL-tut/code/shaders/3.2.2.point_shadows_depth.gs.txt
3.2.2.point_shadows_depth.gs
61
learnOpenGL-tut/code/Normal Mapping.txt
Code
62
learnOpenGL-tut/code/shaders/4.normal_mapping.vs.txt
4.normal_mapping.vs
62
learnOpenGL-tut/code/shaders/4.normal_mapping.fs.txt
4.normal_mapping.fs
62
learnOpenGL-tut/code/Parallax Mapping.txt
Code
63
learnOpenGL-tut/code/shaders/5.3.parallax_mapping.vs.txt
5.3.parallax_mapping.vs
63
learnOpenGL-tut/code/shaders/5.3.parallax_mapping.fs.txt
5.3.parallax_mapping.fs
63
learnOpenGL-tut/code/HDR.txt
Code
64
learnOpenGL-tut/code/shaders/6.hdr.vs.txt
6.hdr.vs
64
learnOpenGL-tut/code/shaders/6.hdr.fs.txt
6.hdr.fs
64
learnOpenGL-tut/code/shaders/6.lighting.vs.txt
6.lighting.vs
64
learnOpenGL-tut/code/shaders/6.lighting.fs.txt
6.lighting.fs
64
learnOpenGL-tut/code/Bloom.txt
Code
65
learnOpenGL-tut/code/shaders/7.bloom.fs.txt
7.bloom.fs
65
learnOpenGL-tut/code/shaders/7.bloom.vs.txt
7.bloom.vs
65
learnOpenGL-tut/code/shaders/7.bloom_final.fs.txt
7.bloom_final.fs
65
learnOpenGL-tut/code/shaders/7.bloom_final.vs.txt
7.bloom_final.vs
65
learnOpenGL-tut/code/shaders/7.blur.fs.txt
7.blur.fs
65
learnOpenGL-tut/code/shaders/7.blur.vs.txt
7.blur.vs
65
learnOpenGL-tut/code/shaders/7.light_box.fs.txt
7.light_box.fs
65
learnOpenGL-tut/code/Deferred Shading.txt
Code
66
learnOpenGL-tut/code/shaders/8.2.deferred_light_box.vs.txt
8.2.deferred_light_box.vs
66
learnOpenGL-tut/code/shaders/8.2.deferred_light_box.fs.txt
8.2.deferred_light_box.fs
66
learnOpenGL-tut/code/shaders/8.2.deferred_shading.vs.txt
8.2.deferred_shading.vs
66
learnOpenGL-tut/code/shaders/8.2.deferred_shading.fs.txt
8.2.deferred_shading.fs
66
learnOpenGL-tut/code/shaders/8.2.g_buffer.vs.txt
8.2.g_buffer.vs
66
learnOpenGL-tut/code/shaders/8.2.g_buffer.fs.txt
8.2.g_buffer.fs
66
learnOpenGL-tut/code/SSAO.txt
Code
67
learnOpenGL-tut/code/shaders/9.ssao.fs.txt
9.ssao.fs
67
learnOpenGL-tut/code/shaders/9.ssao.vs.txt
9.ssao.vs
67
learnOpenGL-tut/code/shaders/9.ssao_blur.fs.txt
9.ssao_blur.fs
67
learnOpenGL-tut/code/shaders/9.ssao_geometry.fs.txt
9.ssao_geometry.fs
67
learnOpenGL-tut/code/shaders/9.ssao_geometry.vs.txt
9.ssao_geometry.vs
67
learnOpenGL-tut/code/shaders/9.ssao_lighting.fs.txt
9.ssao_lighting.fs
67
