opengl.org
https://www.opengl.org/
27
144
OpenGL registry
https://www.khronos.org/registry/OpenGL/index_gl.php
27
145
GLFW
https://www.glfw.org/docs/latest/window_guide.html
28
155
Building applications
http://www.opengl-tutorial.org/miscellaneous/building-your-own-c-application/
28
156
GLFW with Code::Blocks
http://wiki.codeblocks.org/index.php?title=Using_GLFW_with_Code::Blocks
28
157
Running CMake
https://cmake.org/runningcmake/
28
158
Writing a build system under Linux
https://learnopengl.com/demo/autotools_tutorial.txt
28
159
Polytonic/Glitter
https://github.com/Polytonic/Glitter
28
160
antongerdelan.net/hellotriangle
http://antongerdelan.net/opengl/hellotriangle.html
30
509
open.gl/drawing
https://open.gl/drawing
30
510
antongerdelan.net/vertexbuffers
http://antongerdelan.net/opengl/vertexbuffers.html
30
511
learnopengl.com/#!In-Practice/Debugging
https://learnopengl.com/In-Practice/Debugging
30
512
solution->
https://learnopengl.com/code_viewer_gh.php?code=src/1.getting_started/2.3.hello_triangle_exercise1/hello_triangle_exercise1.cpp
30
519
solution->
https://learnopengl.com/code_viewer_gh.php?code=src/1.getting_started/2.4.hello_triangle_exercise2/hello_triangle_exercise2.cpp
30
520
solution->
https://learnopengl.com/code_viewer_gh.php?code=src/1.getting_started/2.5.hello_triangle_exercise3/hello_triangle_exercise3.cpp
30
521
solution->
https://learnopengl.com/code_viewer.php?code=getting-started/shaders-exercise1
31
447
solution->
https://learnopengl.com/code_viewer.php?code=getting-started/shaders-exercise2
31
448
solution->
https://learnopengl.com/code_viewer.php?code=getting-started/shaders-exercise3
31
449
solution->
https://learnopengl.com/code_viewer.php?code=getting-started/textures-exercise1
32
393
solution -
https://learnopengl.com/code_viewer_gh.php?code=src/1.getting_started/4.3.textures_exercise2/textures_exercise2.cpp
32
394
result->
https://learnopengl.com/img/getting-started/textures_exercise2.png
32
394
solution->
https://learnopengl.com/code_viewer_gh.php?code=src/1.getting_started/4.4.textures_exercise3/textures_exercise3.cpp
32
396
solution->
https://learnopengl.com/code_viewer_gh.php?code=src/1.getting_started/4.5.textures_exercise4/textures_exercise4.cpp
32
398
Essence of Linear Algebra
https://www.youtube.com/playlist?list=PLZHQObOWTQDPD3MizzM2xVFitgF8hE_ab
33
421
solution->
https://learnopengl.com/code_viewer.php?code=getting-started/transformations-exercise1
33
424
solution->
https://learnopengl.com/code_viewer_gh.php?code=src/1.getting_started/5.2.transformations_exercise2/transformations_exercise2.cpp
33
426
solution->
https://learnopengl.com/code_viewer.php?code=getting-started/coordinate_systems-exercise3
34
316
solution->
https://learnopengl.com/code_viewer.php?code=getting-started/camera-exercise1
35
370
solution->
https://learnopengl.com/code_viewer.php?code=getting-started/camera-exercise2
35
371
solution->
https://learnopengl.com/code_viewer.php?code=lighting/basic_lighting-exercise1
38
252
solution->
https://learnopengl.com/code_viewer.php?code=lighting/basic_lighting-exercise2
38
256
solution->
https://learnopengl.com/code_viewer.php?code=lighting/basic_lighting-exercise3
38
257
solution->
https://learnopengl.com/code_viewer_gh.php?code=src/2.lighting/3.2.materials_exercise1/materials_exercise1.cpp
39
157
solution->
https://learnopengl.com/code_viewer.php?code=lighting/lighting_maps-exercise2
40
140
result->
https://learnopengl.com/img/lighting/lighting_maps_exercise3.png
40
142
solution- 
https://learnopengl.com/code_viewer_gh.php?code=src/2.lighting/4.3.lighting_maps_exercise4/lighting_maps_exercise4.cpp
40
144
result->
https://learnopengl.com/img/lighting/lighting_maps_exercise4.png
40
144
solution->
https://learnopengl.com/code_viewer.php?code=advanced/faceculling-exercise1
50
94
nanosuit_reflection->
https://learnopengl.com/objects/nanosuit_reflection.zip
52
366
result->
https://learnopengl.com/img/advanced/cubemaps_reflection_map.png
52
372
What every coder should know about gamma
http://blog.johnnovak.net/2016/09/21/what-every-coder-should-know-about-gamma/
59
149
www.cambridgeincolour.com
https://www.cambridgeincolour.com/tutorials/gamma-correction.htm
59
150
blog.wolfire.com
http://blog.wolfire.com/2010/02/Gamma-correct-lighting
59
151
renderwonk.com
http://renderwonk.com/blog/index.php/archive/adventures-with-gamma-correct-rendering/
59
152
Tutorial 16 : Shadow mapping
http://www.opengl-tutorial.org/intermediate-tutorials/tutorial-16-shadow-mapping/
60
523
Shadow Mapping - Part 1
http://ogldev.atspace.co.uk/www/tutorial23/tutorial23.html
60
524
How Shadow Mapping Works
https://www.youtube.com/watch?v=EsccgeUpdsM
60
525
Common Techniques to Improve Shadow Depth Maps
https://docs.microsoft.com/en-us/windows/desktop/DxTechArts/common-techniques-to-improve-shadow-depth-maps
60
526
Shadow Mapping for point light sources in OpenGL
http://www.sunandblackcat.com/tipFullView.php?l=eng&topicid=36
61
448
Multipass Shadow Mapping With Point Lights
http://ogldev.atspace.co.uk/www/tutorial43/tutorial43.html
61
449
Omni-directional Shadows
https://users.cg.tuwien.ac.at/husky/RTR/OmnidirShadows-whyCaps.pdf
61
450
Tutorial 26: Normal Mapping
http://ogldev.atspace.co.uk/www/tutorial26/tutorial26.html
62
385
How Normal Mapping Works
https://www.youtube.com/watch?v=LIOPYmknj5Q
62
386
Normal Mapping Mathematics
https://www.youtube.com/watch?v=4FaWLgsctqY
62
387
Tutorial 13: Normal Mapping
http://www.opengl-tutorial.org/intermediate-tutorials/tutorial-13-normal-mapping/
62
388
Parallax Occlusion Mapping in GLSL
http://sunandblackcat.com/tipFullView.php?topicid=28
63
317
How Parallax Displacement Mapping Works
https://www.youtube.com/watch?v=xvOT62L-fQI
63
318
Does HDR rendering have any benefits if bloom won't be applied?
https://gamedev.stackexchange.com/questions/62836/does-hdr-rendering-have-any-benefits-if-bloom-wont-be-applied
64
170
What is tone mapping? How does it relate to HDR?
https://photo.stackexchange.com/questions/7630/what-is-tone-mapping-how-does-it-relate-to-hdr
64
171
Efficient Gaussian Blur with linear sampling
http://rastergrid.com/blog/2010/09/efficient-gaussian-blur-with-linear-sampling/
65
268
Bloom Post Process Effect
https://udk-legacy.unrealengine.com/udk/Three/Bloom.html
65
269
How to do good bloom for HDR rendering
http://kalogirou.net/2006/05/20/how-to-do-good-bloom-for-hdr-rendering/
65
270
Tutorial 35 : Deferred Shading - Part 1
http://ogldev.atspace.co.uk/www/tutorial35/tutorial35.html
66
408
Deferred Rendering for Current and Future Rendering Pipelines
https://software.intel.com/sites/default/files/m/d/4/1/d/8/lauritzen_deferred_shading_siggraph_2010.pdf
66
409
SSAO Tutorial
http://john-chapman-graphics.blogspot.com/2013/01/ssao-tutorial.html
67
454
Know your SSAO artifacts
https://mtnphil.wordpress.com/2013/06/26/know-your-ssao-artifacts/
67
455
SSAO With Depth Reconstruction
http://ogldev.atspace.co.uk/www/tutorial46/tutorial46.html
67
456
